/*===========================================
  =     Style sheet for ReLife Project      =
  ===========================================*/

/* Index page */
#myNav {
	width: 200px;
	height: 100%;
	position: fixed;
	z-index: 1;
	padding-top: 60px;
	background-color: #000;
	border-radius: 0 10px 10px 0;
	left: -175px;
	top: 0;
	transition: 0.5s;
	box-shadow: 3px 3px 6px #000;
}

#myNav a {
	display: block;
	padding: 20px 0 20px 10px;
	font-size: 1.5em;
	margin-right: 20px;
	color: #fff;
	text-decoration: none;
	text-align: left;
	transition: 0.3s;
}

nav a:hover {
	text-decoration: none;
	background-color: rgba(255,255,255,0.5);
	color: #fff;
	text-shadow: -4px 3px 8px #000;
}

#navTop {
	margin-top: 20px;
}

#navArrow {
	width: 23px;
	padding: 10px 0 10px 0;
	background-color: #000;
	position: absolute;
	z-index: 1;
	left: 200px;
	bottom: 50%;
	box-shadow: 3px 3px 6px #000;
	border-radius: 0 10px 10px 0;
}

.glyphicon-triangle-right {
	color: #fff;
	font-size: 1.5em;
}

header {
	text-align: center;
	position: relative;
	padding-left: 25px;
}

#logo {
	max-width: 100%;
}

.hrLine {
	border: 0;
    height: 1px;
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

#ngView {
  height: 100%;
	padding-left: 50px;
}

footer {
	text-align: center;
	font-size: 1.2em;
	height: 50px;
	background: linear-gradient(to bottom, #333, #000);
	color: #fff;
}

footer p {
	padding-top: 15px;
}

p {
	font-size: 1.13em;
}

/* Home page (pages displayed in ng-view) */
#jumboTrans {
    background-color: rgba(238,238,238,0);
}

.col-xs-12.col-md-6.floatRight {
	float: right;
}

.col-md-6.homeImg.floatLeft {
	float: left;
}

.homePadding {
	padding-bottom: 40px;
}

.homeImg > img {
	max-width: 100%;
}

/* About page */
#aboutContainer {
	padding-top: 40px;
	padding-bottom: 30px;
}

/* Contact page */
.contactPadding {
	padding-bottom: 30px;
}

/* Registration page */
.formField {
	padding-top: 20px;
}

.formLegend {
	padding-top: 30px;
}

#zipCode {
	text-transform: uppercase;
}

#regForm {
	background-color: #fff;
	border: 1px solid #a9a9a9;
	border-radius: 20px;
	padding: 20px 20px 20px 30px;
	margin-bottom: 30px;
}

#submitButton {
	font-size: 1.5em;
}

#loader {  /* Credit to W3Schools.com for the loader code */
	left: 50%;
	top: 50%;
	width: 120px;
	height: 120px;
	margin: auto;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 90px;
	height: 90px;
	-webkit-animation: spin 1.5s linear infinite;
	-ms-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}

@-ms-keyframes spin {
	0% {-ms-transform: rotate(0deg);}
	100% {-ms-transform: rotate(360deg);}
}

@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

/* Fail and Success page */
.resultHeadline {
	font-size: 4em;
	font-weight: bold;
	text-align: center;
}


/* Media queries */
@media screen and (max-width: 991px) {

	#myNav {
		width: 150px;
		height: 300px;
		position: fixed;
		z-index: 1;
		padding-top: 45px;
		background-color: #000;
		border-radius: 0 0 10px 10px;
		left: -125px;
		top: 0;
		transition: 0.5s;
		border-radius: 0 10px 0 0;
	}

	#myNav a {
		font-size: 1.2em;
		padding: 10px 0 10px 10px;
	}

	#navArrow {
		left: 148px;
		bottom: 0%;
	}
}

@media screen and (max-width: 576px) {

	.homeImg {
		display: none;
	}
}
