<div id="aboutContainer" class="container">
  <section class="row">
    <div class="col-xs-12">
      <h1>What is ReLIFE?</h1>
	  <p>ReLIFE is an experiment for new beginnings. Inspired by the adage that there are no second chances in life, ReLIFE seeks to 
	  give those who have made wrong decisions the opportunity to embrace a different path. Using our patented <b>Second Chance &copy;</b>
      pill, your appearance will revert to that of a highschooler so that you are free to re-enter the education system for one year to 
	  identify where you made your ill decisions and prove whether you have what it takes to make the difference you want to see. There 
	  are no set guanrantees in ReLIFE - your success, or continued failure, is entirely in your hands; we simply provide the tools to 
	  set you in motion.</p>
    </div>
  </section>

  <section class="row">
    <div class="col-xs-12">
      <h1>The Development of ReLIFE</h1>
	  <p>The concept of ReLIFE was first designed by So Yayoi of Kyoto University, Japan. It was his research in the reversal of the
	  aging process in mice that led to the breakthrough of the technology that resulted in the <b>Second Chance &copy;</b> pill being
	  developed today. Such a breakthrough garnered a plethora of praise as well as criticism from the scientific community. However, not all
	  were deterred by what some had dubbed the 'biggest farce of science'. Kazuho Hyodo, an inventor and entrepreneur, saw the potential of
	  the breakthrough Yayoi had achieved and asked him to develop a working version for humans. It was from this joining of minds that
	  the ReLIFE Corporation was born and the ReLIFE experiment developed for the purpose of examining subjects' behavioural patterns
	  when given the chance to rectify past decisions. From what was previously considered ludicrous, the ReLIFE experiment now stands
	  at the forefront of modern science, ready to unlock the mysteries of human decision making and desire to succeed. With key data
      already starting to be obtained, the future looks very bright indeed.</p>
    </div>
  </section>
  
  <section class="row">
    <div class="col-xs-12">
      <h1>The Man Behind the Magic</h1>
	  <p>ReLIFE's <b>Second Chance &copy;</b> technology may be at the forefront of science, but its creator, So Yayoi, is from very humble
	  backgrounds. Born the son of a travelling salesman in Kanagawa Prefecture in 1983, Yayoi's interest in science and humanity peaked
	  early. Rather than learn the facets of the sales trade, Yayoi would often observe the people he met while moving around at his
	  father's side. He often wondered at the experiences of these people's lives and how their decisions had impacted their outcomes at
	  that time. Questions such as <i>"why are they here?", "are they happy with the choices they made?"</i> and <i>"what if things had been 
	  different?"</i> filled his mind. It was this interest and desire to learn more about the behavioural patterns of humans that led to his
	  decision to persue the sciences. The top student in his class at highschool, it was clear that Yayoi was destined for a bright future
	  in a career that would prove to be groundbreaking to modern science. His time at Kyoto University was spent learning the secrets of 
	  chemistry and the role it plays in shaping who we are.</p>
	  
	  <p>This led to Yayoi asking the question, <i>"What if we had the chance to try again?"</i>. What occurred at that moment was the birth
	  of the foundation for the ReLIFE experiment. Using his knowledge of chemistry and biology, Yayoi proposed a theory for the temporary
	  reversal of aging in mice which, while controversial, earned him a doctorate and the praise of the more forward-thinking of his peers.
	  It was this theory, which he later proved through physical experimentation, that inspired Kazuho Hyodo to expand the idea to incorporate
	  human subjects and thus the ReLIFE project was born.</p>
	  
	  <p>We can only wonder what would have been different if So Yayoi had never decided to follow the path of science...</p>
    </div>
  </section>
</div>