<div class="container">
  <h1>Contact Information</h1><br>
  <p>Have a question or require further information? Feel free to get in touch! We have offices in every country where the experiment
  takes part. Please find your local office below.</p>
  <p>All offices worldwide are open <b>Mon - Fri, 09:00 - 18:00</b>.</p>
  <br>
  <div class="row contactPadding">
    <div class="col-sm-4">
	  <h3>Canada</h3>
	  <p>770 Don Mills Road,</p>
	  <p>North York,</p>
	  <p>Toronto,</p>
	  <p>ON M3C 1T3</p>
	  <br>
	  <p><b>T</b>: <a href="tel:+14166961000">+1 416-696-1000</a></p>
	  <p><b>E</b>: <a href="mailto:contact@relife.ca">contact@relife.ca</a></p>
	</div>
  
    <div class="col-sm-4">
	  <h3>Germany</h3>
	  <p>Fahrtor 1,</p>
	  <p>Frankfurt am Main,</p>
	  <p>60311</p>
	  <br>
	  <p><b>T</b>: <a href="tel:+4969281432">+49 69 281432</a></p>
	  <p><b>E</b>: <a href="mailto:contact@relife.de">contact@relife.de</a></p>
	</div>
	
	<div class="col-sm-4">
	  <h3>Japan</h3>
	  <p>Tenjincho,</p>
	  <p>Shinjuku-ku,</p>
	  <p>Tokyo,</p>
	  <p>162-0808</p>
	  <br>
	  <p><b>T</b>: <a href="tel:+81352613185">+81 3-5261-3185</a></p>
	  <p><b>E</b>: <a href="mailto:contact@relife.jp">contact@relife.jp</a></p>
	</div>
  </div>
  
  <div class="row contactPadding">
    <div class="col-sm-4">
	  <h3>Netherlands</h3>
	  <p>Lijnbaan 32,</p>
	  <p>Den Haag,</p>
	  <p>2512 VA</p>
	  <br>
	  <p><b>T</b>: <a href="tel:+31889797900">+31 88 979 7900</a></p>
	  <p><b>E</b>: <a href="mailto:contact@relife.nl">contact@relife.nl</a></p>
	</div>
	
	<div class="col-sm-4">
	  <h3>South Korea</h3>
	  <p>22 Huam-dong,</p>
	  <p>Yongsan-gu,</p>
	  <p>Seoul,</p>
	  <p>140-026</p>
	  <br>
	  <p><b>T</b>: <a href="tel:+8227542005">+82 2-754-2005</a></p>
	  <p><b>E</b>: <a href="mailto:contact@relife.kr">contact@relife.kr</a></p>
	</div>
	
	<div class="col-sm-4">
	  <h3>United Kingdom</h3>
	  <p>20 Cannon Street,</p>
	  <p>London,</p>
	  <p>EC4M 6XD</p>
	  <br>
	  <p><b>T</b>: <a href="tel:+442075291111">+44 207 529 1111</a></p>
	  <p><b>E</b>: <a href="mailto:contact@relife.co.uk">contact@relife.co.uk</a></p>
	</div>
  </div>
  
  <div class="row contactPadding">
    <div class="col-sm-4">
	  <h3>United States</h3>
	  <p>2606 Guadalupe Street,</p>
	  <p>Austin, TX</p>
	  <p>78705</p>
	  <br>
	  <p><b>T</b>: <a href="tel:+15124775717">+1 512-477-5717</a></p>
	  <p><b>E</b>: <a href="mailto:contact@relife.com">contact@relife.com</a></p>
	</div>
  </div>
</div>