<div class="container">
  <h1>Contact Information</h1>
  
  <div class="row">
    <div class="col-sm-4">
	  <h3>Canada</h3>
	  <p>770 Don Mills Road,</p>
	  <p>North York,</p>
	  <p>Toronto,</p>
	  <p>ON M3C 1T3</p>
	  <br>
	  <p>T: +1 416-696-1000</p>
	  <p>E: contact@relife.ca</p>
	</div>
  
    <div class="col-sm-4">
	  <h3>Germany</h3>
	  <p>Fahrtor 1,</p>
	  <p>Frankfurt am Main,</p>
	  <p>60311</p>
	  <br>
	  <p>T: +49 69 281432</p>
	  <p>E: contact@relife.de</p>
	</div>
	
	<div class="col-sm-4">
	  <h3>Japan</h3>
	  <p>Tenjincho,</p>
	  <p>Shinjuku-ku,</p>
	  <p>Tokyo,</p>
	  <p>162-0808</p>
	  <br>
	  <p>T: +81 3-5261-3185</p>
	  <p>E: contact@relife.jp</p>
	</div>
  </div>
  
  <div class="row">
    <div class="col-sm-4">
	  <h3>Netherlands</h3>
	  <p>Lijnbaan 32,</p>
	  <p>Den Haag,</p>
	  <p>2512 VA</p>
	  <br>
	  <p>T: +31 88 979 7900</p>
	  <p>E: contact@relife.nl</p>
	</div>
	
	<div class="col-sm-4">
	  <h3>South Korea</h3>
	  <p>22 Huam-dong,</p>
	  <p>Yongsan-gu,</p>
	  <p>Seoul</p>
	  <br>
	  <p>T: +82 2-754-2005</p>
	  <p>E: contact@relife.kr</p>
	</div>
	
	<div class="col-sm-4">
	  <h3>United Kingdom</h3>
	  <p>20 Cannon Street,</p>
	  <p>London,</p>
	  <p>EC4M 6XD</p>
	  <br>
	  <p>T: +44 207 529 1111</p>
	  <p>E: contact@relife.co.uk</p>
	</div>
  </div>
  
  <div class="row">
    <div class="col-sm-4">
	  <h3>United States</h3>
	  <p>2606 Guadalupe Street,</p>
	  <p>Austin, TX</p>
	  <p>78705</p>
	  <br>
	  <p>T: +1 512-477-5717</p>
	  <p>E: contact@relife.com</p>
	</div>
  </div>
</div>