<head>
<style>
    #ngView {
    	height: 100vh;
    }
</style>
</head>

<div class="container">
  <h1 class="resultHeadline">Sorry!</h1>
  <hr class="hrLine">
  <p>You have failed the requirements to take part in the ReLIFE experiment. There was a discrepancy on your registration form 
  that precluded you from entering.</p>
  <p>We require individuals who are in perfect health, are citizens of the eligible countries in which they reside, and 
  hold no criminal record. The legalities of such an experiment insist that we treat the participants of the project,
  and the people with which they interact, with complete safety. As part of the experiment, you would be socially involved
  with people of a highschool age and thus public security is of paramount importance.</p>
  <p>Due to the nature of the <b>Second Chance &copy;</b> technology, a candidate must be in perfect health. While approved
  by the governing bodies of all eligible nations, the technology we use has the potential for adverse side effects in those
  with conditions specified on the registration form. It is for this reason that we must be stringent in our selection of
  suitable candidates.</p>
  <p>We would like to thank you for your interest in the ReLIFE experiment and wish you the very best for your future endeavours.</p>
</div>