<head>
  <style>
    @media screen and (min-height: 1150px) {
      #ngView {
        height: 100vh;
      }
    }
  </style>
</head>

<div class="container">
  <div class="row">
    <section class="col-xs-12">
      <h1>FAQ - Frequently Asked Questions</h1>
      <p>Here at the ReLIFE Corporation we understand that an experiment such as this will generate a lot of questions from curious candidates. Please see below for answers to some of the more common questions we receive. If there is an enquiry you would
        like to make that isn't answered here, please feel free to get in touch via our
        <a href="contact">contact</a> page and we will do our best to accomodate you.</p>
    </section>
  </div>

  <br>

  <section class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
		  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. Are inhabitants from any nation available
		  to take part in ReLIFE?</a>
		</h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <p>At present, only citizens of the following nations are eligible to take part in the ReLIFE experiment:</p>
          <ul>
            <li>Canada</li>
            <li>Germany</li>
            <li>Japan</li>
            <li>Netherlands</li>
            <li>South Korea</li>
            <li>UK</li>
            <li>USA</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
		  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. Is there an age limit for taking part?</a>
		</h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <p>For research purposes, the minimum age is 21. Due to the nature of the <b>Second Chance &copy;</b> technology and the potential health implications in older people, we have set the upper age limit to 50.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
		  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. How do I get involved with the experiment?</a>
		</h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          <p>It's easy! Simply head over to the <a href="register">registration</a> page and enter your details into the form to submit your candidacy. This will then be reviewed and a response given within 3 days.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
		  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">4. Is it safe to participate? Are there any risks?</a>
		</h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
          <p>We wish to ensure every potential candidate that the experiment is perfectly safe. The <b>Second Chance &copy;</b> technology temporarily reverses the surface aging process for a period of one year, which holds no health implications for the
            young and middle-aged. The technology is theoretically safe in older people as well, but for safety purposes we have chosen to exclude those over 50 from the experiment. The ReLIFE project and the <b>Second Chance &copy;</b> technology are
            regulated by the governing health bodies of all countries where participants are eligible to enter.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
		  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">5. What if I change my mind during the experiment?
		  Can I leave the project and can the effects of the technology be reversed?</a>
		</h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">
          <p>We would like to stress that the nature of this experiment is very serious and, as such, we would like to deter people from leaving before the year has been completed. However, should the need to leave the experiment early be unavoidable, due
            to poor health or family tragedy for example, the ReLIFE Corporation will make the necessary arrangements to see that you are removed from the experiment and any aid promptly given.</p>
          <p>We possess the technology to reverse the effects of the <b>Second Chance &copy;</b> pill and take you back to the appearance you had prior to joining the experiment.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
		  <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">6. What about my bills? Is it true that ReLIFE pays for
		  my expenses during the year of the experiment?</a>
		</h4>
      </div>
      <div id="collapseSix" class="panel-collapse collapse">
        <div class="panel-body">
          <p>Yes! Due to the nature of the experiment and the reversal of the surface aging process, we understand that holding a job will be impossible during your time with us. Hence, ReLIFE will cover the entire cost of your living expenses, from utility
            bills and rent, to food and sundry spending money. Your personal handler will make the arrangements for extra funds should the need arise due to special circumstances during the experiment.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
		  <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">7. What are the legal implications? Can I discuss my
		  involvement in the experiment?</a>
		</h4>
      </div>
      <div id="collapseSeven" class="panel-collapse collapse">
        <div class="panel-body">
          <h4>Your Involvement</h4>
          <p>To be a success, the ReLIFE experiment relies on discretion. To such ends, we require all participants to sign a legal document that acknowledges they will not speak of their involvement in the ReLIFE project to anybody outside of immediate
            family and spouse. The security of our participants and the people they interact with as part of the experiment is paramount. For this reason, the document will last for a period of ten (10) years, upon which point it will be reviewed by ReLIFE.
            Should the experiment prove to be a long-term success, this period of enforceability may be extended.</p>

          <h4>Vetting</h4>
          <p>You will spend a period of one year in a highschool environment. For this reason, you will need to pass a vetting process which includes a police background check and a drug test. We appreciate that some narcotics may be legal where you reside,
            but for the purpose of fairness and security to the public, we insist that to be elligible for the experiment, you must not have used <b>any</b> narcotic for a period of twelve (12) months prior to applying. There will be no exceptions.</p>

          <h4>Contract</h4>
          <p>You will be required to sign a twelve (12) month contract upon your acceptance to the project. This legally binding document states that you will remain part of the experiment until the expiry date. The option and decision to leave the experiment
            early will be at the behest of the ReLIFE Corporation, thus barring non-serious participants from exiting early for trivial reasons. As stated in section five above, the need to leave prematurely for severe and serious reasons will be evaluated
            by the ReLIFE corporation on a case-by-case basis.</p>
        </div>
      </div>
    </div>
  </section>
</div>
