<div id="fluidSwitch" class="container">
  <section id="jumboTrans" class="jumbotron">
    <h3><i>We pass through this world but once. Few tragedies can be more extensive than the stunting of life,
	few injustices deeper than the denial of an opportunity to strive or even to hope, by a limit imposed from
	without, but falsely identified as lying within.</i></h3>
	<p>- Stephen Jay Gould</p>
  </section>

  <hr class="hrLine">

  <section class="row homePadding">
    <div class="col-xs-12 col-md-6">
      <h1>ReLIFE - The project for new beginnings</h1>
	  <p>Many have yearned for the opportunity to change past decisions; it is only natural that we try to be the best
	  versions of ourselves that we can. However, such an opportunity for a second chance has never been realised...</p>

	  <p>...Until now.</p>

	  <p>Leading scientist So Yayoi of Kyoto University has developed <b>Second Chance &copy;</b> - technology capable
	  of temporarily reversing the surface aging process to allow you to return to highschool for one year to rectify past mistakes.
	  Whether you use the time to highlight poor past decisions or work on bettering your grades, the choice is entirely yours.
	  We know that whatever you choose to focus on, the results have the potential to be life changing.</p>

	  <p>Read more about the ReLIFE project <a href="about" target="blank">here</a>.</p>
    </div>
    <div class="col-md-6 homeImg">
      <img src="../../pics/image_6.jpg" alt="Image">
    </div>
  </section>

  <section class="row homePadding">
    <div class="col-xs-12 col-md-6 floatRight">
	  <h1>The Process</h1>
	  <p>The layout of the experiment has been made as simple as possible to facilitate the opportunity for generating change.
	  Upon signing your contract with ReLIFE for a period of one year, you will be assigned a personal handler who will remain
	  at your side for the duration of the experiment. They will, like you, undertake the <b>Second Chance &copy;</b> technology
	  so as to blend in to the highschool lifestyle and monitor your progress first-hand.</p>

	  <p>Your handler will maintain a social distance
	  from you during school hours for discretion, but will always be available to assist you should you require information. However,
	  they are not there to guide you one way or the other, or to influence your decisions. The handler's job is to observe and assist
	  with matters regarding the project itself; the choices you make during the experiment are entirely your own.</p>
	</div>
	<div class="col-md-6 homeImg floatLeft">
	  <img src="../../pics/image_2.jpg" alt="Image">
	</div>
  </section>

  <section class="row homePadding">
    <div class="col-xs-12 col-md-6">
      <h1>Security with Us</h1>
	  <p>An immediate concern upon anyone's mind with regards to this project is that they will have to put their job
	  aside, therefore having no income to support themselves. We understand the nature of this experiment will preclude you
	  from holding a job and, in fact, the experience would be wasted if you did.

	  <p>However, there is no need to worry. The ReLIFE Corporation will cover all of your expenses during your year spell with us.
	  That's correct, all expenses from utility bills and rent, to food, travel and spending money. Anything you would usually need
	  to pay for in day-to-day life will be provided by the ReLIFE Corporation to give you piece of mind while you participate in the
	  experiment.

	  <p>Have an unexpected expense arise as a result of your tenure as a research subject? Your personal handler will arrange for the extra
	  funds to cover this. There really isn't a reason to worry when you participate in the ReLIFE experiment.</p>
    </div>
    <div class="col-md-6 homeImg">
      <img src="../../pics/image_1.jpg" alt="Image">
    </div>
  </section>
</div>

<script>
// Limits the damage caused by a Bootstrap bug triggering at 768px
$(document).ready(function() {
	if ($(window).width() >= 768 && $(window).width() < 813) {
		console.log("Hey!" + $(window).width());
		$('#fluidSwitch').removeClass('container').addClass('container-fluid');
	}
});
</script>
