<div class="container">
  <h1>Registration</h1>
  <p>Thank you for your interest in the ReLIFE project. Please enter your details into the form below as accurately as possible.
  Upon completion, a member of the ReLIFE team will contact you within 3 days to discuss your application. Your details are
  treated with the utmost confidentiality and, with the exception of the police for the relevant background checks, will never be 
  passed to anybody outside the experiment.</p>
  <p>* All fields marked with an asterisk (*) are mandatory</p>
  <br>
  <form id="regForm" name="regForm" data-ng-submit="modalSubmit()">
	<fieldset>
	<legend>Personal Information</legend>
	  <div class="row">
	    <div class="col-sm-6">
	      <div class="formField">
	        <label for="fName">First Name: * <br>
	          <input type="text" name="fName" size="25" data-ng-model="fName" required>
	        </label>
	      </div>
	      <div class="formField">
	        <label>Middle Name: <br>
	          <input type="text" name="mName" size="25">
	        </label>
	      </div>
	      <div class="formField">
	        <label>Last Name: * <br>
	          <input type="text" name="lName" size="25" required>
            </label>
	      </div>
	    </div>
	    <div class="col-sm-6">
	      <div class="formField">
	        <label>Date of Birth: *<br>
		      <input type="date" name="dob" required>
	        </label>
		  </div>
		  <div class="formField">
		    <label>Gender: *<br>
		      <input type="radio" name="gender" value="male" checked> Male <br>
			  <input type="radio" name="gender" value="female"> Female
		    </label>
		  </div>
	    </div>
	  </div>
	</fieldset>
	
	<fieldset>
	<legend class="formLegend">Correspondence</legend>
	  <div class="row">
		<div class="col-sm-6">
		  <div class="formField">
		    <label>House number &amp; Street: *<br>
			  <input type="text" name="street" size="25" required>
			</label>
		  </div>
		  <div class="formField">
		    <label>Street 2 (if applicable): <br>
			  <input type="text" name="street2" size="25">
			</label>
		  </div>
		  <div class="formField">
		    <label>Town/City: *<br>
			  <input type="text" name="city" size="25" required>
			</label>
		  </div>
		  <div class="formField">
		    <label>Post/Zip Code: *<br>
			  <input type="text" name="zipCode" size="25" id="zipCode" required>
			</label>
	      </div>
		  <div class="formField">
		    <label>Country: *<br>
			  <select name="country">
			    <option value="canada">Canada</option>
				<option value="germany">Germany</option>
				<option value="japan">Japan</option>
				<option value="netherlands">Netherlands</option>
				<option value="korea">South Korea</option>
				<option value="uk">United Kingdom</option>
				<option value="usa">United States</option>
			  </select>
			</label>
		  </div>
		</div>
		<div class="col-sm-6">
		  <div class="formField">
		    <label>Telephone Number: *<br>
			  <input type="tel" name="phone" size="25" required> <!-- if type="tel" isn't supported, it will revert to type="text" -->
			</label>
		  </div>
		  <div class="formField">
		    <label>Email: *<br>
			  <input type="email" name="email" size="25" required> <!-- again, will revert to type="text" if unsupported -->
			</label>
		  </div>
		  <div class="formField">
		    <label>Are you a citizen of the country where you reside?: *<br>
			  <input type="radio" name="citizen" value="yes" checked> Yes <br>
			  <input type="radio" data-ng-model="citizenNo" name="citizen" value="no"> No
			</label>
		  </div>
		</div>
	  </div>
	</fieldset>
	
	<fieldset>
	<legend class="formLegend">Social Status</legend>
	  <div class="row">
	    <div class="col-sm-6">
	      <div class="formField">
		    <label>Marital Status: *<br>
			  <select name="mStatus">
				<option value="single">Single</option>
				<option value="married">Married</option>
				<option value="civil">Civil Partnership</option>
				<option value="divorced">Divorced</option>
				<option value="separated">Separated</option>
				<option value="widowed">Widowed</option>
			  </select>
			</label>
		  </div>
		  <div class="formField">
		    <label>Dependents living with you: *<br>
			  <select name="dependents">
				<option value="0">0</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="over4">5+</option>
			  </select>
			</label>
		  </div>
		  <div class="formField">
		    <label>Accomodation Expense: *<br>
			  <input type="radio" name="home" value="mortgage" checked> Mortgage <br>
		      <input type="radio" name="home" value="rent"> Rent <br>
			  <input type="radio" name="home" value="none"> None
			</label>
		  </div>
		</div>
		<div class="col-sm-6">
		  <div class="formField">
		    <label>Employment Status: *<br>
			  <select name="employment">
			    <option value="employed">Employed</option>
				<option value="selfEmployed">Self-employed</option>
				<option value="student">Student</option>
				<option value="unemployed">Unemployed</option>
				<option value="retired">Retired</option>
			  </select>
			</label>
		  </div>
		  <div class="formField">
		    <label>Employment Field: *<br>
			  <select name="empField">
			    <option value="notApplic">N/A</option>
				<option value="agriculture">Agriculture</option>
				<option value="business">Business Administration</option>
				<option value="communications">Communications</option>
				<option value="construction">Construction</option>
				<option value="education">Education</option>
				<option value="finance">Finance</option>
				<option value="government">Government</option>
				<option value="healthcare">Healthcare</option>
				<option value="hospitality">Hospitality</option>
				<option value="IT">IT</option>
				<option value="law">Law</option>
				<option value="manufacturing">Manufacturing</option>
				<option value="marketing">Marketing</option>
				<option value="other">Other</option>
				<option value="sales">Sales</option>
				<option value="science">Science/Technology</option>
				<option value="transportation">Transportation/Logistics</option>
			  </select>
			</label>
		  </div>
		  <div class="formField">
		    <label>Annual Salary (&dollar;,&euro;,&pound;): *<br>
			  <select name="salary">
			    <option value="low">0 - 10,000</option>
				<option value="midLow">10,001 - 20,000</option>
				<option value="mid">20,001 - 40,000</option>
				<option value="midHigh">40,001 - 70,000</option>
				<option value="high">70,001 - 100,000</option>
				<option value="veryHigh">100,000+</option>
			  </select>
			</label>
		  </div>
		</div>
	  </div>
	</fieldset>
	
	<fieldset>
	<legend class="formLegend">Health &amp; Illness</legend>
	  <div class="row">
		<div class="col-sm-6">
		  <div class="formField">
			<label>Have you EVER suffered from any of the following diseases?: *</label><br>
			<input type="checkbox" data-ng-model="angina" name="angina" value="checked"> Angina <br>
			<input type="checkbox" data-ng-model="cancer" name="cancer" value="checked"> Cancer <br>
			<input type="checkbox" data-ng-model="cPalsy" name="cPalsy" value="checked"> Cerebral Palsy <br>
			<input type="checkbox" data-ng-model="copd" name="copd" value="checked"> Chronic Obstructive Pulmonary Disease (COPD) <br>
			<input type="checkbox" data-ng-model="cysticF" name="cysticF" value="checked"> Cystic Fibrosis <br>
			<input type="checkbox" data-ng-model="dish" name="dish" value="checked"> Diffuse Idiopathic Skeletal Hyperostosis (DISH) <br>
		  </div>
		</div>
		<div class="col-sm-6">
		  <div class="formField">
			<br>
			<input type="checkbox" data-ng-model="heartDis" name="heartDis" value="checked"> Heart Disease <br>
			<input type="checkbox" data-ng-model="hivAids" name="hivAids" value="checked"> HIV/AIDS <br>
			<input type="checkbox" data-ng-model="ibs" name="ibs" value="checked"> Irritable Bowel Syndrome (IBS) <br>
			<input type="checkbox" data-ng-model="kidneyF" name="kidneyF" value="checked"> Kidney Failure <br>
			<input type="checkbox" data-ng-model="lungDis" name="lungDis" value="checked"> Lung Disease <br>
			<input type="checkbox" data-ng-model="polio" name="polio" value="checked"> Polio
		  </div>
		</div>
	  </div>
	  
	  <div class="row">
	    <div class="col-sm-6">
		  <div class="formField">
		    <label>Have you suffered from any of the following in the past 12 MONTHS?: *</label><br>
			<input type="checkbox" data-ng-model="anxiety" name="anxiety" value="checked"> Anxiety (severe) <br>
			<input type="checkbox" data-ng-model="bronchitis" name="bronchitis" value="checked"> Bronchitis <br>
			<input type="checkbox" data-ng-model="depression" name="depression" value="checked"> Depression (severe) <br>
			<input type="checkbox" data-ng-model="ebola" name="ebola" value="checked"> Ebola <br>
			<input type="checkbox" data-ng-model="fatigue" name="fatigue" value="checked"> Fatigue (chronic)
		  </div>
		</div>
		<div class="col-sm-6">
		  <div class="formField">
			<br>
			<input type="checkbox" data-ng-model="glanFever" name="glanFever" value="checked"> Glandular Fever <br>
			<input type="checkbox" data-ng-model="pneumonia" name="pneumonia" value="checked"> Pneumonia <br>
			<input type="checkbox" data-ng-model="sars" name="sars" value="checked"> Severe Accute Respitory Syndrome (SARS) <br>
			<input type="checkbox" data-ng-model="vision" name="vision" value="checked"> Vision Difficulties (severe)
		  </div>
		</div>
	  </div>
	</fieldset>
	
	<fieldset>
	<legend class="formLegend">Declaration</legend>
	  <div class="row">
	    <div class="col-xs-12">
		  <div class="formField">
		    <label>Have you EVER had a criminal record?: *</label><br>
		    <input type="radio" name="criminal" value="no" checked> No <br>
		    <input type="radio" data-ng-model="criminalYes" name="criminal" value="yes"> Yes
		  </div>
		</div>
	  </div>
	  <br>
	  <div class="row">
		<div class="col-xs-12">
		  <div class="formField">
		    <input type="checkbox" data-ng-model="declaration" name="declaration" value="true" required> I understand that entering incorrect information will nullify my candidacy for this project. I hereby confirm that all of the information entered onto this form is accurate to the best of my knowledge.
		  </div>
		</div>
	  </div>
	  <br>
	  <div class="row">
        <div class="col-xs-12">
		  <div class="formField">
		    <button id="submitButton" class="btn btn-primary" type="submit" data-ng-disabled="regForm.$invalid" data-toggle="modal" data-target="#myModal" onclick="closeModal()">Submit</button>
		  </div>
		</div>
	  </div>
	</fieldset>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Just a Moment...</h4>
	      </div>
	      <div class="modal-body">
	        <p>Thank you for your submission, {{fName}}!</p>
	        <p>Please bear with us while your form is checked. This could take a few seconds.</p>
	        <div id="loader"></div>
	      </div>
	    </div>
	  </div>
	</div>
  </form>
</div>