<head>
<style>
  @media screen and (min-width: 600px) {
    #ngView {
    	height: 100vh;
    }
  }
</style>
</head>

<div class="container">
  <h1 class="resultHeadline">Success!</h1>
  <hr class="hrLine">
  <p>Congratulations, your submission has passed the necessary criteria for review! This will now be processed by our team and a response given within 3 days.</p>
  <p>If you would like to get in touch in the meantime, please find the details to do so on the
  <a href="contact">contact</a> page.</p>
  <p>You are free to change your mind at any point up to the contract signing. We strongly advise that you read the
  <a href="faq">FAQ</a> section of this website if you haven't done so already. The answers to the most prominent questions can be found there and should help to prepare you for your upcoming participation in the experiment, as well as alleviate any potential concerns you may have. You are, of course, welcome to get in touch with us if there are questions that are unanswered by the FAQ page.</p>
  <p>On behalf of everyone here at the ReLIFE Corporation, we would like to thank you for your interest in the ReLIFE experiment
  and wish you the best of luck with your application.</p>
</div>
